---

---

<section
  class="text-heading-3 relative flex flex-col gap-2 font-medium md:flex-row lg:gap-5"
>
  <div class="mx-auto flex items-center">
    <span
      class="text-primary mr-2 inline-flex h-8 w-8 items-center justify-center rounded-full font-bold"
      >&checkmark;</span
    >
    <div>Keep Maintained</div>
  </div>
  <div class="mx-auto flex items-center">
    <span
      class="text-primary mr-2 inline-flex h-8 w-8 items-center justify-center rounded-full font-bold"
      >&checkmark;</span
    >
    Fix Issues
  </div>
  <div class="mx-auto flex items-center">
    <span
      class="text-primary mr-3 inline-flex h-8 w-8 items-center justify-center font-bold"
      >&checkmark;</span
    >Improve quality
  </div>
</section>
